* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* align-items: center; */
}

header {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
    flex-shrink: 0;
    min-width: 300px;
}

.top-nav {
    display: flex;
    justify-content: center;
}
.container {
    flex: 0 1 auto;
}

.left-banner p {
    font-size: 16px;
    font-weight: 300;
    color: #e5e7eb;
    margin-top: 0;
}

.top-nav-main {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.top-nav-main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 6;
    /* border: 2px salmon solid; */
    margin-left: 700px;
}

.top-nav-main-right {
    flex: 1 0 auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    /* border: 2px salmon solid; */
    margin-right: 700px;
}

.top-nav-main-right nav ul {
    display: flex;
    gap: 32px;
}

.company-name {
    font-size: 32px;
    font-weight: 100;
    color: #fb8500;
}

.top-nav-main img {
    max-width: 80px;
    height: auto;
}

input {
    border-radius: 25px;
    padding: 20px;
    flex: 1;
    height: 30px;
}

.top-nav-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px #290ad8 solid; */
    gap: 48px;
    margin-bottom: 96px;
}

.right-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px #f9faf8 solid; */
    margin-right: 700px;
    flex: 1;
    /* width: 300px;
    height: 300px; */
}

.left-banner {
    /* border: 1px #f9faf8 solid; */
    margin-left: 700px;
    flex: 1;
}

.filter-orange {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: invert(55%) sepia(29%) saturate(3211%) hue-rotate(0deg) brightness(101%) contrast(105%);
    width: auto;
    height: 200px;
}

#button1 {
    padding: 8px 32px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 14px;
    font-weight: bold;
    border-color: black;
}

.information {
    margin-top: 24px;
    margin-bottom: 96px;
    /* border: 2px tomato solid; */
}

h2 {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    margin-bottom: 42px;
}

.info-container {
    /* border: 1px blue solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.info img {
    border: #3882f6 3px solid;
    border-radius: 10px;
    max-width: 200px;
}


.info-text {
    text-align: center;
    /* border: #528626 1px solid; */
    color: #1F2937;
}

.info {
    max-width: 200px;
    flex: 1;
}

.quot-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quot-body {
    margin: 96px 0;
    width: 900px;
}

.quot-body p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.signture {
    text-align: end;
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
}
.contact-section {
    display: flex;
    justify-content: center;
}

.contact-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 96px 700px;
    padding: 48px 64px;
    border-radius: 10px;
    flex-shrink: 0;
    /* gap: 32px; */
    width: 1000px;
}

.contact-header {
    font-size: 24px;
    font-weight: 700;
    color: #e5e7eb;
}

.contact-text {
    color: #e5e7eb;
}

#button2 {
    padding: 8px 32px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 14px;
    font-weight: bold;
    border-color: #f9faf8;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #1F2937;
    color: #f9faf8;
    height: 72px;
}